
body {
    background-color: #aaa7a7;
}

.myCenter {
    margin: auto;
    text-align: center;
}

.error {
    color: red;
}

.widthDiv {
    width: 100px;
    float: left;
}

.widthField {
    width: 700px;
    text-align: left;
}

.heightDesc {
    width: 700px;
    text-align: left;
    height: 500px;
    resize: none;
}

.tableCenter {
    margin: auto;
}